.menu {
    width: 700px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.item {
    font-size: 20px;
    font-weight: bold;
}

.rate {
    font-weight: bold;
}